*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: rgba(244, 208, 78, 1);
  --background-card: white;
}

body {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--background-card);
  width: 315px;
  height: auto;
  padding: 21px;
  border-radius: 0.5rem;
  border: 2px solid black;
  box-shadow: 5px 5px black;
}

.image img {
  width: 100%;
  border-radius: 0.5rem;
}

.category {
  background-color: var(--background-color);
  text-align: center;
  font-weight: 900;
  font-size: 12px;
  border-radius: 0.5rem;
  color: black;
  padding: 0.5rem;

}

.card .date {
  font-size: 12px;
}

.card .title {
  font-size: 20px;
  font-weight: 900;
  color: rgb(17, 17, 17);
  width: auto;


}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 0.5rem;
}

footer img {
  width: 32px;
  height: 32px;
  
}

.description {
  color: rgb(107, 107, 107);
}

.author {
  font-weight: 800;
}

@media (min-width: 768px) {
  .card {
    width: 384px;
    
  }
}
